{% extends "RsworkGuestbookBundle::layout.html.twig" %}

{% block title %} Edit Message: {{ entity.title }} {% endblock %}

{% block body %}
<div class="hero-unit">
  <h1>Message Edit: {{ entity.title }}</h1>
</div>

<div class="row-fluid">

  {% include 'RsworkGuestbookBundle:Message:sidebar.html.twig' with {'class': 'span2'} %}

  <div class="span10 well">

    <form action="{{ path('guestbook_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
      {{ form_widget(edit_form) }}
      <p>
      <button class="btn btn-primary" type="submit">Edit</button>
      </p>
    </form>

  </div>

</div>
{% endblock %}
