{% extends "RsworkGuestbookBundle::layout.html.twig" %}

{% block title %} Message List {% endblock %}

{% block body %}

<div class="hero-unit">
  <h1>Message list</h1>
</div>

<div class="row-fluid">

  {% include 'RsworkGuestbookBundle:Message:sidebar.html.twig' with {'class': 'span2'} %}

  <div class="span10">

    {% for entity in entities %}

    <div class="well">
      <h2>{{ entity.title }}</h2>

      <p class="info">
      <i class="icon-user"></i> Author: <strong>{{ entity.author }}</strong> 
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="icon-time"></i> Create Date: <strong>{{ entity.published|date('Y-m-d H:i:s') }}</strong>
      </p>

      <p>
      {{ entity.content }}
      </p>

      <a href="{{ path('guestbook_show', { 'id': entity.id }) }}" class="btn">View Detail »</a>
      <a href="{{ path('guestbook_edit', { 'id': entity.id }) }}" class="btn">Edit</a>
    </div>

    {% endfor %}

  </div>
</div>
{% endblock %}
